body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4; }

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0; }

.button_1 {
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff; }

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px; }

/* Header **/
header {
  background: white;
  color: #000000;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid; }

#showcase {
  width: 100%;
  height: 500px;
  background: url("https://i.ibb.co/GWT98F7/pattern.png") repeat fixed;
  background-color: #df3d39;
  text-align: center;
  color: #ffffff; }

#container {
  border-bottom: 25px solid white; }

#showcase2 {
  width: 500px;
  height: 500px;
  display: block;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: auto;
  background: url("https://i.ibb.co/ynzZfVD/image.png") no-repeat; }

#showcase3 {
  width: 500px;
  height: 500px;
  display: block;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 30px; }

#showcase h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 50px; }

#showcase p {
  text-align: right;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

header a {
  color: #000000;
  text-decoration: none;
  text-transform: none;
  font-size: 16px; }

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px; }

header #branding {
  float: left; }

header #branding h1 {
  margin: 0; }

header nav {
  float: right;
  margin-top: 10px; }

header .highlight,
header .current a {
  padding: 20px;
  color: white;
  background: #df3d39;
  font-weight: bold; }

header a:hover {
  color: #fa6966;
  font-weight: bold; }

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #313131;
  text-align: center; }

/* Media Queries */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%; }
  header {
    padding-bottom: 20px; }
  /* Showcase */
  .btn-danger {
    color: #fff;
    background-color: #df3d39;
    border-color: #df3d39; }
  #showcase h1 {
    margin-top: 40px; }
  #newsletter button,
  .quote button {
    display: block;
    width: 100%; }
  #newsletter form input[type="email"],
  .quote input,
  .quote textarea {
    width: 100%;
    margin-bottom: 5px; } }
